:root {
    --color-font: rgba(0,0,0,0.84);
    --color-highlight: rgb(255, 110, 0);
    --color-highlight-100: rgba(255, 110, 0, .1);
    --color-highlight-500: rgba(255, 110, 0, .5);
    --color-highlight-800: rgba(255, 110, 0, .8);
    --border-radius: 0.25rem;

    --font-size-base: 20px;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: var(--font-size-base);
    line-height: 1.5;
    font-family: sans-serif;
    color: var(--color-font);
}

body {
    margin: 0;
    padding: 2rem 0;
    min-height: 100vh;
    background-color: var(--color-highlight-100);
}

iframe {
    border-radius: var(--border-radius);
}

.wc-button-home {
    display: grid;
    align-content: center;
    position: fixed;
    inset: 3rem 0 auto auto;
    width: 3rem;
    height: 3rem;
    color: black;
    padding: .75rem;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--color-highlight-500);
    transform: translateX(.5rem);
    transition:
            background-color .2s ease-in-out,
            filter .2s ease-in-out,
            transform .2s ease-in-out;
    backdrop-filter: blur(.125rem);
}

.wc-button-home:hover {
    background-color: var(--color-highlight-800);
    filter: drop-shadow(0 0.25rem .25rem rgba(0,0,0, .1));
    transform: translateX(0);
}

.wc-headline {
    display: block;
    font-weight: bold;
    font-size: var(--font-size-m);
    margin: 1.5em 0 1em;
}

.wc-headline--l {
    font-size: var(--font-size-l);
}

.wc-headline--xl {
    font-size: var(--font-size-xl);
}

.wc-headline--xxl {
    position: relative;
    font-size: var(--font-size-xxl);
}

.wc-headline--page {
    margin-top: .5em;
}

.wc-headline--xxl::after {
    content: '';
    display: block;
    position: absolute;
    inset: auto auto -.25rem 0;
    width: 8rem;
    height: .25rem;
    background-color: var(--color-highlight);
    border-radius: 0.125rem;
}
.wc-link,
.wc-link:visited {
    color: inherit;
    text-decoration: underline;
}
.wc-link:hover,
.wc-link:active {
    color: var(--color-highlight);
    text-decoration: underline;
}

.wc-list {
    padding-left: 1.125rem;
}
.wc-list__item {
    padding-bottom: .5rem;
}

.wc-list__item::marker {
    color: var(--color-highlight);
    font-weight: 700;
    font-size: var(--font-size-l);
}

.wc-container {
    width: min(80%, 1000px);
    margin: 0 auto;
}

.wc-content {
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
}

.wc-code {
    font-size: var(--font-size-s) !important;
    border-radius: var(--border-radius);
}

.wc-content .wc-code--inline {
    padding: 0 1rem;
    white-space: nowrap;
}

.wc-hint {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-highlight);
}

.wc-hint--warn {
    padding-left: 4rem;
    position:relative;
}

.wc-hint--warn::before {
    content: '\26a0';
    display: inline-block;
    position: absolute;
    line-height: 1;
    inset: 50% auto auto 1rem;
    transform: translateY(-50%);
    width: 1em;
    font-size: 2rem;
    height: 1em;
    color: var(--color-highlight);
}

.wc-footer {
    margin-top: 2rem;
}

.wc-navigation {
    position: fixed;
    inset: auto 0 0 auto;
    padding: 1rem;
}

.wc-navigation__button {
    position: relative;
    border: none;
    font: inherit;
    color: inherit;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-highlight-500); /*rgba(255, 255, 255, .6);*/
    transition:
            background-color .2s ease-in-out,
            filter .2s ease-in-out;
    backdrop-filter: blur(.125rem);
    border-radius: 50%;
    cursor: pointer;
}
.wc-navigation__button:hover {
    background-color: var(--color-highlight-800);
    filter: drop-shadow(0 0.25rem .25rem rgba(0,0,0, .1));
}

.wc-navigation__button::after {
    content: '';
    display: inline-block;
    position: absolute;
    text-indent: 0;
    text-align: center;
    inset: 50% auto auto 50%;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
}
.wc-navigation__button--prev::after {
    transform: translate(calc(-50% + 2px), -50%) rotate(135deg);
}

.wc-navigation__button--next::after {
    transform: translate(calc(-50% - 2px), -50%) rotate(-45deg);
}

.wc-ref {
    font-size: var(--font-size-s);
    font-style: italic;
}

@media  (max-width: 599px) {
    :root {
        --font-size-base: 16px;
    }
    .wc-link {
        word-break: break-all;
    }
    .wc-button-home,
    .wc-navigation{
        transform-origin: right bottom;
        transform: scale(.75, .75);
    }
    .wc-button-home:hover {
        transform: scale(.75, .75);
    }
}
